/* OVERWRITES */

/* IMPORTS */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Source+Serif+Pro:400,600,700&display=swap');

/* COLORS */
$primary: #2351F4;
$secondary: #939DBE;
$dark: #081838;
$primary-alt: #4868F8;
$success: #10DC60;
$background: #F5F6FA;

/* FONTS */

$title-lg: 'Source Serif Pro', serif;
/* guidelines
*/
$title-md: 'Source Sans Pro', serif;
/* guidelines
*/
$title-alt: 'Josefin Sans', sans-serif;
/* guidelines
letter-spacing: -0.05em;
*/
$text-primary: 'Montserrat', sans-serif;
/* guidelines
*/
$text-secondary: 'Nunito', sans-serif;
/* guidelines
*/

/* COMPONENT SPECIFIC */

// Popular Events Window
$card-width: 200px;
$card-height: 30vh;

$large-card-font: 1em;
$small-card-font: 0.2em;

// Explore Button
$icon-distance: 1.5em;
$icon-distance-special: 3.5em;

// Map
$map-size: 100%;