/* OVERWRITES */

// @import '~vuetify/src/styles/tools/_elevation.sass';

// $shadow-key-umbra: rgba(#1a237e, 0.2);
// $shadow-key-penumbra: rgba(#1a237e, 0.14);
// $shadow-key-ambient: rgba(#1a237e, 0.12);

/* COLORS */
$primary: #2351F4;
$secondary: #939DBE;
$dark: #081838;
$primary-alt: #4868F8;
$success: #10DC60;
$background: #F5F6FA;


/* COMPONENT SPECIFIC */

// Popular Events Window
$card-width: 200px;
$card-height: 30vh;

$large-card-font: 1em;
$small-card-font: 0.2em;

// Explore Button
$icon-distance: 1.5em;
$icon-distance-special: 3.5em;

// Map
$map-size: 100%;