@mixin title-serif-dark {
  font-family: $title-lg;
  font-weight: 700;
  color: $dark;
  font-size: 3.5em;
}

@mixin event-tag {
  font-family: $title-md;
  color: $primary-alt;
  font-size: 1.375em;
  text-transform: uppercase;
  font-weight: 600;
}

@mixin event-detail {
  font-family: $text-primary;
  font-weight: 600;
  color: $secondary;
  font-size: 1.375em;
}
