@import "@/assets/scss/variables.scss";

@media screen and (min-width: 800px) {
  html,
  body {
    font-size: 16px;
    vertical-align: baseline;
  }
}

::-webkit-input-placeholder {
  /* Chrome */
  color: $secondary;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $secondary;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $secondary;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $secondary;
  opacity: 1;
}

/* OVERWRITES */

div.v-input__slot {
  padding-left: 0 !important;
}
div.v-file-input__text--placeholder {
  color: $secondary !important;
}
