@import "@/assets/scss/variables.scss";
@import "@/assets/scss/overwrites.scss";
@import "@/assets/scss/reusable.scss";

html, body {
  font-size: 14px;
  vertical-align: baseline;

  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    font-size: 10px;
  }

  @media screen and (max-height: 800px) {
    font-size: 12px;
  }
  @media screen and (max-height: 600px) {
    font-size: 10px;
  }
  @media screen and (min-width: 1000px) and (min-height: 1000px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1000px) and (min-height: 1200px) {
    font-size: 25px;
  }
  @media screen and (min-width: 3000px) and (min-height: 1500px) {
    font-size: 30px;
  }
}

::-webkit-input-placeholder {
  /* Chrome */
  color: $secondary;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: $secondary;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $secondary;
  opacity: 1;
}
:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $secondary;
  opacity: 1;
}
